
  .mentorDetailsWrapping{
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .mentorDetails h3{
    color: #FFF;
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 6px;
  }

  .mentorDetails p{
    color: var(--White, #FFF);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: unset;
  }
  .link{
    color: var(--Yellow, #FEEA4F);
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
margin-left: 4px;

  }

  
  
  
  
  .headerWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .hostImage {
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .hostText {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    font-family: var(--font-oswald);
    margin-bottom: 5px;
  }
  
  .subtext {
    font-size: 14px;
    color: #cccccc;
  }
  
  .viewProfile {
    color: #ffd700;
    text-decoration: none;
    margin-left: 8px;
  }
  
  .featureGrid {
    row-gap: 30px;
   margin-top: 20px;
   margin-bottom: 69px;
  }
  
  .featureItem {
    display: flex;
    align-items: flex-start;
    gap: 15px;
  }
  
  .iconWrapper {
    background-color: #5e4bd8;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    font-size: 20px;
    color: #fff;
  }
  
  .featureTitle {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
    font-family: var(--font-oswald);
  }
  
  .featureText {
    font-size: 14px;
    color: #cccccc;
  }

  .divider{
    height: 1px;
    width: 100%;
    background: #2F2F2F;
    margin: 32px 0;
  }

  .expectText{
    margin: unset;
    color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
 
  opacity: 0.6;
  }
  
  .expectHeading{
    color: var(--White, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25.2px; /*  */
  
  margin: unset;
  }

  .amenitiesList {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  .amenitiesList li {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /*  */
    
    margin-bottom: 12px;
    opacity: 0.6;
  }

  .amenitiesList li:last-child {
    margin-bottom: 0px;
  }

  .list {
    color: #a1a1aa; /* muted gray */
    list-style-type: disc;
    padding-left: 1rem;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 0;
  }
  