.eventPup{  background: rgba(0, 0, 0, 0.10);
    backdrop-filter: blur(20px); position: fixed; z-index:9999; 
    top: 0; left: 0; height: 100%; width: 100%;} 

.eventFormContainer {background-color: #121212; color: #fff; padding:15px 30px 30px 30px; border-radius: 20px; max-width: 900px; margin: 0 auto;}


.formGroup {margin-bottom: 20px;}
.input {width: 100%; padding: 12px 16px; border-radius: 10px;  border: 1px solid #272B30; background-color: #272B30; color: #A1A1A1; font-size: 14px;
     }
.input:focus {outline: none; border: 1px solid var(--purple);}

.eventPup label {display: block; margin-bottom: 8px; margin-top: 15px; font-size: 14px; font-weight: 500; color: #A1A1A1;}

.textarea {min-height: 120px; resize: vertical; width: 100%; padding: 12px 16px; border-radius: 10px; border: none;
     background-color: #272B30; color: #A1A1A1; font-size: 16px;}
 .textarea:focus{outline: none; border: 1px solid var(--purple);   }
.error {color: #ff5c5c; font-size: 13px; margin-top: 5px;}
.buttonWrapper {text-align: center; margin-top: 30px;}

.submitButton {background-color: var(--purple); border: none; padding: 14px 28px; color: white; font-weight: 500; font-size: 16px; margin-top: 20px;
     border-radius: 10px; cursor: pointer; width: 100%;}
.submitButton:hover {opacity: .9;}


.eventHeading{display: flex; flex-direction: column; gap: 15px; font-size: 38px;  text-transform: uppercase; font-weight: 700;
    font-family: var(--font-oswald); align-items: center; padding: 20px 0;}
 .eventHeading svg{ cursor: pointer;}
 .eventHeading svg circle{ transition: 0.5s all;}
 .eventHeading svg:hover circle{stroke: var(--purple); fill: var(--purple);}    

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  position: relative;
  background-color: #121212;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
}

.closemodal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.successGif {
  margin: 2rem 0;
}

.successImage {
  border-radius: 50%;
}

.successTitle {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.successMessage {
  color: #fff;
  font-size: 18px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  background: rgba(39, 43, 48, 0.8);
  padding: 16px 20px;
  border-radius: 12px;
  backdrop-filter: blur(4px);
}

.greetings{
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.closeButton {
     border-radius: 12px;
     background: #644EE5;
     color: #FFF;

     font-family: Poppins;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
  border: none;
  padding: 0.8rem 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.closeButton:hover {
  background-color: #4b31e1;
  transform: translateY(-2px);
}

@media (max-width: 767px) {
     .eventPup label{
        font-size: 12px;
     }
     .input{
        font-size: 12px;
     }
     .textarea{
          font-size: 12px;
     }
     .submitButton{
          font-size: 12px;
     }
     
   }
   