/* .accountMenu */
.TopArr{position: absolute; top: -16px; right: 35px;}
.accountMenuList{ background: #1A1D1F; padding:12px 15px; border-radius: 10px; position: absolute; width: 270px; right: 5px; top: 70px; list-style: none;
opacity: 0; pointer-events: none; transition: 0.5s; z-index: 99;}
.accountMenuList.active{ opacity: 1; pointer-events: all;}

.accountMenu li a{ display: flex; justify-content: space-between; align-items: center; padding: 8px 0;}
.accountMenu li  svg{transform: rotate(-90deg); opacity: .3; transition: 0.5s all;}
.accountMenu li a:hover svg{opacity: 1;}

.accOverlay{background: rgba(0,0,0, 0.1); position: fixed; z-index: 98; left: 0; top: 0; bottom: 0; right: 0; transition: 0.5s all;}
.accOverlay.hide{ opacity: 0; pointer-events: none;}
.userPicMobile{display: none;}
.sideBarShow{display: none;}

@media(max-width:767px){
    .userPic{display: none;}
    .userPicMobile{display: block;}
    .sideBarShow {display: block; position: fixed; width: 100%; height: 100%; opacity: 0; pointer-events: none; 
        right: -100%; top: 0; z-index: 9999; background: #1a1d1f; padding-top: 0px; transition: 0.5s all;}
    .sideBarShow.active {right: 0; opacity: 1; pointer-events: all; }
    .sideBarShow.active  .xIcon{opacity: 0; pointer-events: none;}
    .sideBarShow.active ul li a{ justify-content: flex-start;  padding: 0 0;}
    .sideBarShow.active ul li  svg{transform: none;}
   .sideBarShow.active .xIcon{position: fixed; right: 20px; top: 20px; pointer-events: all; opacity: 1; z-index: 9;}

}