.SearchContainer{color:#fff;margin:auto; width: 100%;
    border-radius:10px; position: fixed; top: 0%; left:0%; z-index: 99; opacity: 0; pointer-events: none;}

.SearchContainer.Active{opacity: 1; pointer-events: all;}

.overLay{position: fixed; width: 100%; height: 100%; left: 0; top: 100px; z-index: 1;}

.inputBox{display:flex;align-items:center; justify-content: center; background:rgba(0,0,0, 1); padding:15px;
    overflow:hidden;margin-bottom:1rem;}


.input{flex:1;padding:0.8rem 1rem;background:none;border:none;color:#fff;font-size:1rem; font-family: var(--font-oswald); outline: none; box-shadow: none;
    font-weight: 700; text-transform: uppercase;  max-width: 900px; margin: auto; border:2px solid #fff;border-radius:999px;}

.btn{background:#f7df1e;border:none;padding:0 1.5rem;font-size:1.5rem;cursor:pointer;}
.resultBox{background:#111;padding:1rem;border-radius:20px; max-width: 900px; margin: auto; position: relative; z-index: 3; opacity: 0; pointer-events: none;}
.resultBox.active{ pointer-events: all; opacity: 1;}
.resultBox h3{ font-weight: 700; margin-bottom: 15px; font-size: 18px;}
.header{display:flex;justify-content:space-between;align-items:center;font-weight:bold;font-size:1.1rem;margin-bottom:1rem;}

.clear{cursor:pointer;color:#fff;}
.item{display:flex;gap:1rem;margin-bottom:1rem;}
.img{width:50px;height:50px;object-fit:cover;border-radius:5px;}

.title{font-weight:bold;margin:0;}
.desc{font-size:0.9rem;margin:0;}
.inputBox svg{display: none;}


@media (max-width:767px) {
    .overLay{  background:#212121; top: 0; z-index: -1;}
    .inputBox{  background:#212121;}
    .SearchContainer{z-index: 9999;}
    .resultBox{background:#000; top: 300px;transition: .3s all;}
    .resultBox.active{top: 0;}
    .input{ background: #000;}
    .resultBox{ height: calc(100vh - 100px); border-radius: 20px 20px 0 0 ; padding: 30px;}
    .resultBox h3{font-family: var(--font-oswald); margin-top: 20px; margin-bottom: 20px;}
    .resultBox p.title{font-size: 14px}
    .resultBox p{font-size: 12px; margin-bottom: 0;}
    .header{display: none;}
        .item{display:flex; gap:1.2rem; margin-bottom:1.5rem;}
        .inputBox{gap: 15px;}
        .inputBox svg{display: block;}
        .circleX{position: fixed; right: 30px; top: 27px;}
        .circleX svg{width: 30px; height: 30px;}


    
}