:root {
  --background:#0E0F11;
  --foreground: #fff;
  --purple:#644EE5;
  --yellow:#FEEA4F;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18191B;
  }
}
/* main body css */
html{
  overflow: visible !important;
}
body {
  max-width: 100vw;
  font-family: var(--font-poppins);
  overflow: visible !important;
}

body.modal-open {
  overflow: hidden !important;
}

  
  h1{ font-family: var(--font-poppins);}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: visible !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{ width: 100%; max-width: 1480px; padding: 0 30px;}

.accordion .accordion-item{ border: none; background: none; ;}
.accordion-button{background: none; border-bottom:rgba(97, 97, 97, 1) 0.5px solid; color: #fff;padding:25px 0px 10px 0px; border-radius: 0;
   box-shadow: none; outline:none; margin: 0 !important; }
.accordion-body{ padding: 20px 0; color: #fff;}   
.accordion-button:not(.collapsed){background: none; color: #fff; border-bottom:rgba(97, 97, 97, 1) 0.5px solid; box-shadow: none; border-radius: 0; }
button:focus:not(:focus-visible){box-shadow: none;}


.accordion-button {font-size: 20px; font-weight: 500; border-radius: 0;
   padding: 14px 15px 14px 0px;
  margin: 16px 0px;}


.accordion-button:after{background: none; content: url('/accordionIcon.svg'); width: 32px; height: 32px; transition: none; position: absolute;
  right: 0;
  top: 10px;}



.accordion-button:not(.collapsed):after{background: none; content: url('/minusBtn.svg'); width: 32px; height: 32px; right: 6px;}

.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {border-radius: 0;}

.center-box{ min-height: 100vh; display: flex; align-items: center;}
.swipperLogin .swiper-pagination-bullets{ position: absolute; bottom: 40px !important;}
.swipperLogin .swiper-pagination-bullet {width: 15px !important; height: 15px !important; background:rgba(255,255,255, 0.8);}
.swipperLogin .swiper-pagination-bullet.swiper-pagination-bullet-active { background:#FAE01E;}
.breadCrumb{ margin-top: 10px;}
.breadCrumb ul{display: flex;  list-style: none; margin: 0; padding:0px 0 20px  0; gap: 10px;}
.breadCrumb ul li {padding: 0 5px 0 0; color:#999; display:flex; gap: 10px;}
.breadCrumb ul li svg{color:#fff;}
.breadCrumb ul li.active{color: #fff; gap: 0;}

.modal-backdrop{
  opacity: 0.8 !important;
}

@media(min-width: 1600px){
  .col-xxxl-3 {
    flex: 0 0 auto;
    width: 25%; /* 3/12 */
  }
  .col-xxxl-9 {
    flex: 0 0 auto;
    width: 75%; /* 9/12 */
  }

}

@media (min-width: 1440px) {
  .col-xxxl-2 {
    flex: 0 0 auto;
    width: 20.6666667%; /* like col-2 */
  }
  .col-xxxl-10 {
    flex: 0 0 auto;
    width: 79.3333333%; /* like col-10 */
  }


}


@media(max-width:992px) {
  .col-md-padding-7 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .col-md-padding-6{
    padding-left: 7px !important;
    padding-right: 7px !important;
  }
  .col-md-padding-8{
    padding-left: 7px !important;
    padding-left: 7px !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


@media(max-width:767px){
  .container{ 
    padding: 0 10px;
  }
  .accordion-button{font-size: 16px; line-height: 1.5;}

  .mob-size{
    display: none;
  }
  .accordion-button:after{ width: 20px; height: 20px; 
    right: 10;
    top: 10px;}
}





.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 16px;
}


.vendorContainer{
  background: #fff;
  padding: 16px;
  color: #000;
 
}