.customModal {
    max-width: 700px;
    margin: auto;
}

.customModal :global(.modal-content) {
    border-radius: var(--Other-Radius-xl2, 24px);
    background: var(--Card-Color, #1A1D1F);
    padding: 32px;
    max-height: 80vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.customModal :global(.modal-body) {
    overflow-y: auto;
    padding-right: 16px;
}

.customModal :global(.modal-body::-webkit-scrollbar) {
    display: none;
}

.customModal:global(.modal-backdrop.show) {
    background-color: rgba(0, 0, 0, 0.8) !important;
    backdrop-filter: blur(6px);
}

.modalTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    color: var(--Color-Netural-White, #FFF);
    font-family: Oswald;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 24px;
}



.formLabel {
    color: #A1A1A1;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.formInput {
    border-radius: var(--Other-Radius-xl, 16px);
    background: #272B30;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 12px 16px;
    border: none;

}

.formInput:focus {
    background: #272B30;
    color: #FFF;
    outline: none;
    box-shadow: none;
    border-color: inherit;
}

.formInput::placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
}

.formTextarea {
    border-radius: var(--Other-Radius-xl, 16px);
    background: #272B30;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 12px 16px;
    border: none;
    resize: none;
}

.formTextarea:focus {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #272B30;
    box-shadow: none;
}

.formTextarea::placeholder {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.6;
    line-height: normal;
}

.checkboxRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.customDropdown {
    background-color: #2A2E30;
    color: white;
    border: 1px solid #444;
}

.customDropdown option {
    background-color: #1A1D1F;
    color: white;
}

.submitButton {
    width: 100%;
    border-radius: 8px;
    background: var(--Violet, #644EE5);
    padding: 14px 32px;
    border: none;
    color: #FFF;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Oswald;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 24px */
    transition: transform 0.3 ease-in-out;
}

.formGroup {
    position: relative;
}

.error {
    position: absolute;
    bottom: -20px;
    left: 0;
    color: #dc3545;
    font-size: 0.875rem;
}

.errors{
    color: #dc3545;
    font-size: 0.875rem;
}