.skipThe{ background: rgba(24,25,27,1); padding: 80px 0  0;overflow: hidden; }
.skipThe h3{ font-size: 120px; font-weight: 700; text-transform: uppercase; font-family: var(--font-oswald); padding-bottom: 30px;}
.skipThe span{ font-size: 90px; color: var(--yellow);}
.pra{max-width: 920px; font-size: 20px;}

.skipThe ul{margin: 30px 0;padding: 0; display: flex;}
.skipThe li { margin-right: 50px; padding: 0 0 0 20px; font-weight: 700; list-style: none; padding-left: 40px; position: relative; }
.skipThe li svg{position: absolute; left: 0; top:3px}


.ListBtn{display: flex; padding: 3px 3px 3px 30px; max-width: fit-content; border-radius: 40px; gap: 40px; align-items: center; border: var(--foreground) 1px solid;
    margin:40px 0; color: var(--foreground); transition: 0.5s all; font-family: var(--font-oswald); font-weight: 700; text-transform: uppercase;}    
.ListBtn   span{ background: #644EE5; display: flex; width: 60px; height: 60px; border: var(--background) 1px solid; border-radius: 50%;
align-items: center; justify-content: center; transition: 0.5s all;}   
.ListBtn   span svg path {stroke: #fff; transition: 0.5s all;}
.ListBtn   span svg{transition: 0.5s all; transform: rotate(-45deg); ;}


.ListBtn:hover{ background: var(--foreground); color: var(--background);}
.ListBtn:hover span{ background:var(--yellow); border-color:var(--background) ;}
.ListBtn:hover span svg path{stroke: var(--background); }
.ListBtn:hover span svg{transform: rotate(0deg);}

.flyBee{ margin: -130px 0 -50px auto; display: block; width: 400px; height: auto;}


@media(max-width:1420px){
    .skipThe h3{ font-size: 90px;}
    .skipThe span{ font-size: 70px;}
    .pra{font-size: 18px;}
}


@media(max-width:1279px){
    .skipThe h3{ font-size: 70px;}
    .skipThe span{ font-size: 60px;}
    .pra{font-size: 16px;}
}

@media(max-width:767px){
    .skipThe{position: relative; padding-top: 40px;}
    .skipThe h3{ font-size: 28px;}
    .skipThe span{ font-size: 18px;}
    .pra{font-size: 16px;}
    .skipThe ul{flex-direction: column;}
    .skipThe ul li{margin: 5px 0; font-size: 14px;}
    .flyBee{position: absolute; width: 60px; height: auto; right: 10px; top: 20px; margin: 0;}
    .ListBtn span {width: 40px; height: 40px; font-size: 16px;}
}