.partnerSection{background:#0E0F11;padding:120px 0  60px 0;color:#fff}
.planTag{background:var(--purple);color:var(--foreground);border-radius:20px;padding:4px 16px;font-size:14px;font-weight:700;display:inline-flex;margin-bottom:10px}
.heading{font-size:64px;font-weight:700;text-transform:uppercase;margin-bottom:20px; font-family: var(--font-oswald);}
.heading span{ color: #636262;}

.subheading{ font-size: 48px; font-family: var(--font-oswald); padding-bottom: 10px;font-weight: 700;}
.subText{font-size:1rem;line-height:1.6;color:#ccc;margin-bottom:20px}


.btnPrimary{background:#6a3bff;color:#fff;padding:10px 24px;border:none;border-radius:24px;font-weight:600;transition:all 0.5s ease;cursor:pointer}
.btnPrimary:hover{background:#5025d1}

.featureCard{background:#1a1a1a;padding:24px;border-radius:16px;text-align:left;height:100%; border:#1a1a1a 1px solid; transition:all 0.5s ease;}
.featureCard:hover{border-color: var(--purple);}

.featureCard h5{color:#fff;font-size:1.1rem;margin-top:16px; font-family: var(--font-oswald); font-weight: 700;}
.featureCard p{color:#fff;font-size:14px}

 
.blobImg{margin: auto; display: block; height: auto; width: 100%; max-width: 550px;} 

.giftCard h4{ font-weight: 700; font-family: var(--font-oswald); text-transform: uppercase; font-size: 28px; }
.textLight{color: #fff; opacity: .6; font-size: 16px;} 


.faq{background:#0E0F11;padding:0px 0  30px 0;color:#fff; margin-top: -50px;}
.faq h4{font-size: 48px !important;}


.whyHead{ font-size: 48px; font-family: var(--font-oswald); padding-bottom: 10px;font-weight: 700; margin-bottom: 20px;
text-transform: uppercase;}


.form{display:flex;flex-direction:column;gap:16px;background:#0f0f0f;padding:24px 0;border-radius:12px}
.label{color:#fff;font-weight:700;margin-bottom:4px}
.buttonGroup{display:flex;flex-wrap:wrap;gap:12px}
.amountBtn{padding:10px 18px;border:2px solid #555;border-radius:24px;background:transparent;color:#fff;font-weight:500;cursor:pointer;transition:all 0.5s}
.active{background:var(--purple);color:#fff;border-color:#6a3bff}
.input{padding:12px;border-radius:10px;background:#1a1a1a;color:#fff;border:none;font-size:16px}
.input:focus{border: none; outline: none;}

.textarea{padding:12px;border-radius:10px;background:#1a1a1a;color:#fff;border:none;min-height:100px;font-size:16px}
.textarea:focus{border: none; outline: none;}
.submitBtn{margin-top:16px;background:var(--purple);color:#fff;padding:12px 28px; width: 100px;
   border:none;border-radius:12px;font-weight:600;cursor:pointer;transition:background 0.3s}
.submitBtn:hover{opacity: .9;}
.error{color:#ff4d4f;font-size:14px;margin-top:-10px;margin-bottom:4px}
.errorInput{border:1px solid #ff4d4f}
.giftCard{padding-left: 50px;}


@media(max-width:1420px){
   .heading{font-size: 48px; margin-bottom: 10px;}
   .whyHead{ font-size: 38px;}
   .faq h4{font-size: 38px !important;}
}

@media(max-width:767px){
   .heading{font-size: 50px; margin-bottom: 5px;}
   .whyHead{ font-size: 28px;}
   .faq h4{font-size: 26px !important; padding:0 0 20px 0 !important;} 
   .giftCard{padding: 20px  0 0 0;}
   .text-light{font-size: 14px;}
   .CustCtnr{padding: 0px 32px !important;}
   .buttonGroup{justify-content: center;}
   .form{gap:24px;} 
   .buttonGroup{column-gap: 16px; row-gap: 30px;}
   .featureCard h5{font-size: 20px;}
   .FaqCustCtnr{padding: 0px 16px;}

}
@media (max-width:575px) {
      .CustCtnr{padding: 0px 16px !important;}
      .FaqCustCtnr{padding: 0px 0px;}

   
}